@media screen and (max-width:576px){
    .nav-container{
        flex-direction: column;
         width: 100%;
    }
    
    .nav-info-container{
        flex-direction: column;
         max-width:576px ;
         padding-left: 30px;
    } 
    .logo-icon-a-b{
        padding-left: 70px;
         
    }
 /* <!-- banner section starts here -->  */
    .banner-container{
  
   flex-direction: column-reverse;
   padding-left: 0;
   margin-left: 0;
   align-items: center;
   /* margin-top: 0;  */
    
        /* display: flex;
        max-width: 1400px;
        justify-content: space-between;
        padding-left: 12rem; */
      
    }
    .banner-info{
        margin-top: 20px;
    }

    .banner-img{
        margin-left: 3px;

        /* margin-left: 7rem;
         height: 90%;
         width: 90%; */
     }

      /* <!-- banner section starts here -->  */

      .we-r-gamer-container{
       flex-direction: column;
        
    }
    .btn-sing-in-know-more{
        
        margin-top: 1rem;
        margin-left: 0rem;
        
    }

     /* <!--play-instantly section starts here -->  */

    .play-instantly-container{
        flex-direction: column;
      }

      .play-instantly-info{
   
        width: 100%;
        margin: 10px
    
    }
      .play-instantly-title{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
      }

      .play-instantly-para{
        text-align: center;
        /* align-items: end; */
        margin: 10px;
        
      }

      .play-instantly-img-container{
    
        
        width: 100%;
        padding: 6px 10px ;
        
      
    }

.play-instantly-img-1{
    width: 70%;
    height: 56%;
    
   
    align-items: center;
    /* padding-right: 9%; */
    margin-left: 10%;
    margin-right: 32px;
    
}

.play-instantly-img-2{
    position:absolute;
    width: 38%;
    height: 33%;
    /* margin-right: 14%; */
    z-index: 3;
    margin-left: -30rem;
    margin-top: 30%; 
}


}