*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --primary-color: rgb(252, 104, 134);
    --button-color:(90deg, #FF42A5 0%, #FF42A5 100%)
}
nav{
    /* max width set korlam bole bg color set korlam */
    background-color: antiquewhite;
   
}
.nav-container{
    display: flex;
    align-items: center;
    padding-top: 10px;
    /* height: 50px; */
    max-width: 1600px;
    margin: 0 auto;
}
.nav-logo-container{
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 10px;
    
}

.nav-logo-container p {
    font-size: 50px;
    font-weight: 700;
    margin-left: 10px;
    
}
.nav-info-container{
  
    width: 50%;
    display: flex;
    margin-left: 30px;
    justify-content:space-evenly;
   
}
.nav-info-container a {
    text-decoration: none;
    font-size: 20px;
}
.nav-logo-container p > span {
   color: var(--primary-color);
  
}
.logo-icon-a-b{
    padding: 10px;   
}

.logo-icon{
    background-color: rgb(224, 231, 238);
    padding: 10px;
}

/* banner section starts here */
.banner-container{
  
   
    
    display: flex;
    max-width: 1400px;
    justify-content: space-between;
    padding-left: 12rem;
  
}

.banner-info{
    margin-top: 10rem;
}

.banner-para-1{
font-size: 2rem;
font-weight: 700;
}

.banner-title{

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;

}

.banner-logo-para{
    width: 187px;
    height: 22.615px;
    flex-shrink: 0;
}



.button{
    display: flex;
    gap: 13px;
    margin-top: 3rem;
   
    /* height: 2rem; */
    /* padding: 4%; */
}

.btn-sing-in{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    width: 6.5rem;
    height: 2.5rem;
    border: none;
    font-size: 1rem;
}

.Go-Rogue{
    border: none;
    border-radius: 48px;
background: #4EC5F7;
    width: 6.5rem; 
    height: 2.5rem; 
    font-size: 1rem;
}

.banner-img{
   margin-left: 7rem;
    height: 90%;
    width: 90%;
}

 /* we r gamer section starts here! */
.we-r-gamer-container{
    display: flex;
    
}

.we-r-gamer-info{
    margin: 5rem;
    margin-top: 1rem;
    padding: 4rem;
}


.we-r-gamer-img{
    width: 33%;
    height: 25rem; 
    margin-left: 16rem;
    margin-top: 6rem;
}





   .we-r-gamer-title {
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.5rem;
        text-align: end;
    }

    .we-r-gamer-para{
        text-align: end;
        margin-top: 2rem;
       
    }


    .btn-sing-in-know-more{
        border-radius: 48px;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        width: 8.5rem;
        height: 2.5rem;
        border: none;
        font-size: 1rem;
        margin-top: 1rem;
        margin-left: 23rem;
        
    }




.we-r-gamer-para-2{
    text-align: end;
    margin-top: 2rem;
    margin-bottom: 4px;
}

.we-r-gamer-para-title{
    text-align: end;
    font-size: 20px;
    color: #534C64;
font-family: Work Sans;
     margin-top: 1.5rem; 
}
  /* we r gamer section end here!  */

  /*Online-games Funny Videos section starts here! */

  .online-games-container{
    /* min-width: 1400px;
    margin: 0 auto; */
    width: 93%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-left: 3rem;
    margin-right: 5rem;
  }

  .online-games-title{
text-align: center;
color: #0B0223;
font-weight: 700;
font-size: 3rem;
  }

  .online-games-title-2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
   
  }
  .online-games-para{
    
    margin-top: 10px;
    margin-bottom: 17px;
    color: #534C64;
text-align: center;

font-size: 18px;

font-weight: 400;

  }



  .online-games-img-container{
margin: 10px 10px;
  }

  .online-games-para-2{
    color: #534C64;
    font-weight: 500;
    text-align: left;
  }


  /* Online-games Funny Videos section end here!  */

/* Play Instantly starts here */


  .play-instantly-container{
    display: flex;
  }
  .play-instantly-info{
   
    width: 36%;
    margin-top: 12rem;
    margin-right: 4rem;

}
  .play-instantly-title{
text-align: end;
font-size: 40px;
font-weight: 800;
  }

  .play-instantly-title span{
    background: linear-gradient(180deg, #F948B2 100%, #8758F1 10%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
  }

  .play-instantly-para{
    text-align: end;
    align-items: end;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
  }


.play-instantly-img-container{
    
        display: block;
        width: 52%;
        overflow: hidden;
    }

.play-instantly-img-1{
    width: 81%;
    height: 76%;
    margin-left: 11rem;
    margin-top: 0rem;
}

.play-instantly-img-2{
    position: absolute;
    width: 18%;
    height: 43%;
    margin-right: 1rem;
    z-index: 3;
    margin-left: 2rem;
    margin-top: -13rem;
}


/* Play Games starts here */

.play-games-container{
    display: flex;
}

.play-games-img-container{
    
    display: block;
    width: 52%;
    overflow: hidden;
}

 .play-games-img-1{
    width: 72%;
    height: 92%;
    margin-left: 11rem;

}

.play-games-img-2{
z-index: 3;
position: absolute;
width: 20%;
height: 40%;
margin-top: 18rem;
margin-left: -6rem;

} 

.play-games-info{
    margin-left: 13rem;
    margin-top: 10rem;
}

.play-games-title{
    font-weight: 700;
    font-size: 2.5rem;
}

.play-games-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-games-para{
    color: #534C64;
    text-align: end;
}





/* Play Games end here */

.careers-section{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin: 2rem;
}

.careers-info-container{
    display: flex;
}

